body {
    text-align: center;
    font-size: 125%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-image:linear-gradient(150deg, #032E3E, #1c9ede);
    background-size: cover;
    background-repeat: no-repeat;
}

p {
  color: black;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#container {
  margin: 0%;
}
#panel {
  margin-left: 2%;
  margin-right: 3%;
  float: left;
  width: 20%;
}
#panel-mid {
  float: left;
  width: 50%;
  height: 100%;
  z-index: 0;
}
#profile {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 20%;
  margin-left: -10%;
  transform: translate(10%, 0%);
  content: url(https://avatars.githubusercontent.com/u/77855700?v=4);
  position: relative;
  border: 2px solid;
  border-color: white;
  border-radius: 150px;
}
#about {
  float: left;
  width: 100%;
  height: 15%;
  margin-top: 15%;
  margin-left: -10%;
  transform: translate(10%, 0%);
  position: relative;
  border: 1px solid;
  border-color: #1eb0b6;
  border-radius: 15px;
}
#crypto {
  padding-top:1%;
  margin-top: 1%;
  width:100%;
  color: white;
}
#crypto:hover {
  background-color: #1c9ede;
  border-radius: 16px;
}
#linktext {
  margin-top: 33%;
  z-index: 0;
  font-size: 160%;
}
#moduleText {
  color: white;
  font-size: 150%;
}
#moduleTextS {
  color: white;
  font-size: 80%;
  margin:12px;
  text-decoration: none;
}
#buttcontain {
  border: 3px solid;
  border-color: #1eb0b6;
  border-radius: 12px;
  margin-bottom: 12%;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(1px);
}
#buttcontain:hover {
  -webkit-filter: blur(0.5px);
}
#trunk {
  width: 100%;
}
#lp {
  text-align: center;
  margin-left: -1%;
}
#lp1 {
  opacity: 0.33;
  text-align: center;
  border: 5px solid;
  border-color: #172347;
  border-radius: 150px;
  margin-left: 19%;
  height: 6%;
  width: 60%;
  background-color: #0EF3C5;
  -webkit-filter: blur(0.5px);
}

#lp1:hover {
  height: 6%;
  opacity: 0.95;
  border: 3px solid;
  background-color: #0EF3C5;
  width: 80%;
  margin-left: 9%;


}
#lp2 {
  border: solid ;
  border-radius: 5px;
  margin-left: 15%;
}
#landscape {
  float: left;
  margin-left: -1%;
  width: 101.8%;
  height: 100%;

}
#mountains {
  content: url(/assets/mountain.svg);
  width: 100%;
  height: 100%;
}
